@import url("https://fonts.googleapis.com/css2?family=Jomhuria&display=swap");

:root {
  --fonte: "Roboto", sans-serif;
  --branco: #ffffff;
  --preto: #000000;
  --cinza: #4a4a4a;
  --azul_principal: #4a90e2;
  --amarelo_principal: #ffd166;
  --amarelo_secundario: #fff2cc;
  --marrom: #b88b68;
  --bege: #fff9f0;
}

.jomhuria-regular {
  font-family: "Jomhuria", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
